.user-profile-page-container .section-container .orders {
    padding: 20px 30px;
}

.user-profile-page-container .section-container .no-made-orders-message {
    font-size: 1.2rem;
    color: #696969;
}

.user-profile-page-container .section-container .orders .order-container {
    --border-width: 3px;
    position: relative;
    background: #FFF;
    border-radius: var(--border-width);
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
}

.user-profile-page-container .section-container .orders .order-container:after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #129417, #19C020, #26DE2D, #2DF234);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 3s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.user-profile-page-container .section-container .orders .order-container p {
    margin: 0 0 5px 10px;
    color: #707070;
    font-size: 1.1rem;
}

.user-profile-page-container .section-container .orders .order-container p .time {
    margin-left: 10px;
    padding-right: 4px;
    color: #000;
    font-size: 1rem;
    position: relative;
}

.user-profile-page-container .section-container .orders .order-container p .time:after {
    content: "";
    position: absolute;
    height: 14px;
    top: 4px;
    right: -6px;
    border-right: 1px solid #9F9F9F;
}

.user-profile-page-container .section-container .orders .order-container p .day {
    padding-left: 10px;
    color: #000;
    font-size: 1rem;
}

.user-profile-page-container .section-container .orders .order-container p span {
    margin-left: 10px;
    color: #000;
}

.user-profile-page-container .section-container .orders .order-container .border {
    display: inline-block;
    border-bottom: 1px solid #9F9F9F;
    width: 100%;
    position: relative;
    bottom: 7px;
}

.user-profile-page-container .section-container .orders .order-container .meals ul li {
    list-style-type: "\1F374";
}

.user-profile-page-container .section-container .orders .order-container .meals ul li span {
    margin: 0 10px;
    font-weight: 600;
    color: #404040;
}

.user-profile-page-container .section-container .orders .order-container p .total-price {
    font-weight: 600;
    color: #404040;
}

.user-profile-page-container .section-container .orders .order-container .status span {
    text-transform: uppercase;
    font-weight: 600;
}

.user-profile-page-container .section-container .orders .order-container .status .not-accepted {
    text-transform: uppercase;
    color: #D89A16;
}

.user-profile-page-container .section-container .orders .order-container .status .accepted {
    color: #26de2d;
}

.user-profile-page-container .section-container .orders .order-container p .not-accepted {
    color: #D89A16;
}

.user-profile-page-container .section-container .orders .order-container .accept-btn {
    display: inline-block;
    padding: 5px 15px;
    background: #398809;
    color: #FFF;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
}

.user-profile-page-container .section-container .orders .order-container .accept-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
