<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Order Food Online</title>
    <link href="~/css/layout.css" rel="stylesheet" />

    @await RenderSectionAsync("IndexStyles", required: false)
</head>
<body>
    <header class="header-container">
        <nav class="nav-container">
            <a asp-controller="Home" asp-action="Index" class="header-title">We Love Food</a>
            <div>
                <div class="header-link-btn-container">
                    <a asp-controller="Home" asp-action="Login" class="header-link-btn"><span>Вход</span></a>
                </div>
                <div class="header-link-btn-container">
                    <a asp-controller="Home" asp-action="Register" class="header-link-btn"><span>Регистрация</span></a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("IndexScript", required: false)
</body>
</html>
