<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Order Food Online</title>
    <link href="~/css/user/home.css" rel="stylesheet" />
</head>
<body>
    <header class="header-container">
        <nav class="nav-container">
            <a asp-controller="Home" asp-action="Index" class="header-title">We Love Food</a>
            <div>
                <a asp-controller="Home" asp-action="Login" class="link-button"><span>Вход</span></a>
                <a asp-controller="Home" asp-action="Register" class="link-button"><span>Регистрация</span></a>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
