@{
    ViewBag.Title = "Успешно направена поръчка -";
}

@section MadeSuccessfulOrderStyles {
    <link href="~/css/shared/successfulMessagePage.css" rel="stylesheet" />
}

<div class="successful-message-page">
    <h1>Вашата поръчка бе успешно направена!</h1>
    
    <div class="btn-container">
        <a asp-area="" asp-controller="Cities" asp-action="All">Всички градове <i class="fas fa-chevron-right"></i> <i class="fas fa-chevron-right"></i> </a>
    </div>
</div>