.cart-page-container {
    width: 100%;
    padding: 15vh 10vw 5vh 10vw;
    font-family: 'Open Sans', sans-serif;
}

.cart-page-container .cart-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #C3C3C3;
    border-radius: 12px;
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}

.cart-page-container .cart-container .meals {
    width: 65%;
    padding: 3vh 5vw;
}

.cart-page-container .cart-container .meals .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #AAAAAA;
}

.cart-page-container .cart-container .meals .header h2 {
    margin-top: 20px;
}

.cart-page-container .cart-container .meals .header p {
    margin-top: 24px;
    font-size: 1.4rem;
}

.cart-page-container .cart-container .meals .cards {
    width: 100%;
    margin: 20px 0;
}

.cart-page-container .cart-container .meals .cards table {
    border-spacing: 1.2rem;
}

.cart-page-container .cart-container .meals .cards thead tr th {
    text-align: start;
    font-weight: 500;
    color: #646464;
}

.cart-page-container .cart-container .meals .cards .meal {
    width: 35%;
}

.cart-page-container .cart-container .meals .cards .meal h4 {
    margin: 0 0 10px 0;
}

.cart-page-container .cart-container .meals .cards .meal .image-container {
    width: 60%;
}

.cart-page-container .cart-container .meals .cards .meal .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.cart-page-container .cart-container .meals .cards .quantity {
    padding-left: 4px;
}

.cart-page-container .cart-container .meals .cards .quantity .out {
    font-size: 2.5rem;
    cursor: pointer;
}

.cart-page-container .cart-container .meals .cards .quantity .add {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart-page-container .cart-container .meals .cards .quantity .number {
    border: 1px solid #000;
    padding: 4px 8px;
    margin: 0 5px;
    position: relative;
    bottom: 6px;
}

.cart-page-container .cart-container .meals .cards .price {
    position: relative;
    top: 6px;
}