@page
@model EmailModel
@{
    ViewBag.Title = "Смяна на имейла -";
}

@section ChangeDataStyles {
    <link href="~/css/identity/changeData.css" rel="stylesheet" />
}

<div class="change-data-page-container">
    <div class="form">
        <h1>Смени имейла си</h1>
        <p>Настоящ имейл: <span>@Model.Email</span></p>

        <div class="status-message-container">
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>

        <form id="email-form" method="post">
            <div class="validation-summary">
                <ul>
                    @foreach (var error in ModelState.ModelStateErrorMessages())
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>

            <div>
                <div>
                    <i class="far fa-envelope"></i>
                    <label asp-for="Input.NewEmail"></label>
                </div>
                <input asp-for="Input.NewEmail" />
            </div>
            <span asp-validation-for="Input.NewEmail" class="validation-message"></span>

            <div>
                <div>
                    <i class="fas fa-key"></i>
                    <label asp-for="Input.Password"></label>
                </div>
                <input asp-for="Input.Password" />
            </div>
            <span asp-validation-for="Input.Password" class="validation-message"></span>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail">Change email</button>
        </form>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
