@model IEnumerable<RestaurantCardServiceModel>

@{
    ViewBag.Title = "Моите ресторанти -";
}

@section ManagerRestaurantsStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/restaurants/card.css" rel="stylesheet" />
    <link href="~/css/restaurants/all.css" rel="stylesheet" />
    <link href="~/css/restaurants/users.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Areas/Manager/Views/Shared/_ProfileOptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Моите ресторанти</h2>

        <div class="section-container">
            <div class="restaurants-page-container">
                @if (Model.Any())
                {
                    <div class="restaurants-container">
                        @foreach (var restaurant in Model)
                        {
                            <a class="restaurant-card-container" asp-area="" asp-controller="Menus" asp-action="Meals" asp-route-id="@restaurant.Id">
                                <partial name="~/Views/Restaurants/_RestaurantCardPartial.cshtml" for="@restaurant" />
                            </a>
                        }
                    </div>
                }
                else
                {
                    <p class="no-added-restaurants-message">Все още нямате добавени ресторанти.</p>
                }
            </div>
        </div>
    </div>
</div>
