@model IEnumerable<RestaurantCardServiceModel>

@{
    ViewBag.Title = "Моите ресторанти -";
}

@section ManagerRestaurantsStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/restaurants/managers.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Areas/Manager/Views/Shared/_ProfileOptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Моите ресторанти</h2>

        <div class="section-container">
            <div class="manager-restaurants">
                <div class="add-restaurant">
                    <a><i class="fas fa-plus"></i> Добави ресторант</a>
                </div>

                @foreach (var restaurant in Model)
                {
                    <div class="restaurant">
                        <div class="card">
                            <img src="https://passionpassport-1.s3.amazonaws.com/wp-content/uploads/2020/11/05114630/sofia-bulgaria-gem-header.jpg" alt="Restaurant image" />
                        </div>

                        <div class="info">
                            <h3>Ресторант 1</h3>

                            <p>Статус: <span class="archived">Архивиран</span></p>

                            <div class="btns">
                                <a class="archive">Архивирай</a>
                                <a class="add">Добави</a>
                                <a class="delete">Изтрий</a>
                            </div>
                        </div>
                    </div>


                    <div class="restaurant">
                        <div class="card">
                            <img src="https://passionpassport-1.s3.amazonaws.com/wp-content/uploads/2020/11/05114630/sofia-bulgaria-gem-header.jpg" alt="Restaurant image" />
                        </div>

                        <div class="info">
                            <h3>Ресторант 1</h3>

                            <p>Статус: <span class="archived">Архивиран</span></p>

                            <div class="btns">
                                <a class="archive">Архивирай</a>
                                <a class="add">Добави</a>
                                <a class="delete">Изтрий</a>
                            </div>
                        </div>
                    </div>


                    <div class="restaurant">
                        <div class="card">
                            <img src="https://passionpassport-1.s3.amazonaws.com/wp-content/uploads/2020/11/05114630/sofia-bulgaria-gem-header.jpg" alt="Restaurant image" />
                        </div>

                        <div class="info">
                            <h3>Ресторант 1</h3>

                            <p>Статус: <span class="archived">Архивиран</span></p>

                            <div class="btns">
                                <a class="archive">Архивирай</a>
                                <a class="add">Добави</a>
                                <a class="delete">Изтрий</a>
                            </div>
                        </div>
                    </div>


                    <div class="restaurant">
                        <div class="card">
                            <img src="https://passionpassport-1.s3.amazonaws.com/wp-content/uploads/2020/11/05114630/sofia-bulgaria-gem-header.jpg" alt="Restaurant image" />
                        </div>

                        <div class="info">
                            <h3>Ресторант 1</h3>

                            <p>Статус: <span class="archived">Архивиран</span></p>

                            <div class="btns">
                                <a class="archive">Архивирай</a>
                                <a class="add">Добави</a>
                                <a class="delete">Изтрий</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
