.add-form-container .form-container {
    padding: 30px 50px;
    position: relative;
    top: 14vh;
    width: 35vw;
    margin: 0 auto;
    border: 2px solid #C3C3C3;
    border-radius: 12px;
    background: #FFF;
}

.add-form-container .form-container h2 {
    text-align: center;
    font-family: cursive;
    color: #23A829;
    margin-bottom: 0;
}

.add-form-container .form-container form div {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.add-form-container .form-container form input {
    width: 100%;
    margin-left: 7px;
    outline: none;
    border: 2px solid #777777;
    border-radius: 18px;
    padding: 10px;
    background: #F7F7F7;
}

.add-form-container .form-container form label {
    margin-left: 10px;
    margin-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
}

.add-form-container .form-container form button {
    display: block;
    margin: 20px auto;
    margin-top: 40px;
    padding: 8px 6vw;
    border-radius: 15px;
    border: none;
    background: #2EAC04;
    color: #FFF;
    font-family: cursive;
    font-size: 1.2rem;
    font-weight: 700;
}

.add-form-container .form-container form button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add-form-container .form-container .form div {
    font-size: 1.07rem;
}

.add-form-container .form-container .form div p {
    margin-bottom: 5px;
}

.add-form-container .form-container form .upload {
    flex-direction: row;
}

.add-form-container .form-container .form .upload label {
    display: inline-block;
    margin-top: 20px;
    padding: 7px 20px;
    background: #2EAC04;
    color: #FFF;
    font-size: 1.08rem;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

.add-form-container .form-container .form .upload label:hover {
    opacity: 0.9;
    cursor: pointer;
}

.add-form-container .form-container .form .upload input {
    display: none;
}

@media (max-width: 1024px) {
    .add-form-container .form-container {
        top: 13vh;
        width: 80vw;
        font-size: 0.9rem;
    }
    
    .add-form-container .form-container .form {
        padding-bottom: 2vh;
    }

    .add-form-container .form-container .form div {
        font-size: 0.9rem;
    }
    
    .add-form-container .form-container form button {
        font-size: 1rem;
    }
}
