.successful-message-page {
    position: relative;
    top: 20vh;
    width: 50vw;
    margin: 0 auto;
}

.successful-message-page h1 {
    margin: 0 0 5vh 0;
    color: #696969;
}

.successful-message-page .btn-container {
    width: 100%;
    background: #2f6f08;
}

.successful-message-page .btn-container a {
    position: absolute;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    background: #19900C;
    color: #FFF;
    padding: 6px 8px;
    border-radius: 12px;
    transition: 0.4s ease-in;
}

.successful-message-page .btn-container a:hover {
    color: #19900C;
    background: none;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

.successful-message-page .btn-container a i {
    display: inline-block;
    position: relative;
    top: 1px;
}

@media (max-width: 700px) {
    .successful-message-page h1 {
        font-size: 1.4rem;
    }

    .successful-message-page .btn-container a {
        font-size: 0.9rem;
    }
}