@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.home-title-container {
    margin-top: 9vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 1.3rem;
    color: #2F6F08;
}

.home-title-container h1 {
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
}

.home-title-container h2 {
    margin-top: 7px;
    font-family: 'Open Sans', sans-serif;
}

.home-city-cards-container {
    margin: 0 10vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
}

.all-cities-btn {
    width: 100%;
    position: relative;
    background: #2f6f08;
}

.all-cities-btn a {
    position: absolute;
    right: 14vw;
    top: 3.8vh;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    background: #19900C;
    color: #FFF;
    padding: 6px 8px;
    border-radius: 12px;
    transition: 0.4s ease-in;
}

.all-cities-btn a:hover {
    color: #19900C;
    background: none;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

.all-cities-btn a i {
    display: inline-block;
    position: relative;
    top: 1px;
}

.application-info {
    margin: 12vh 6vw 5vh 6vw;
    padding: 5px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    border: 2px solid #919191;
    border-radius: 12px;
}

@media (max-width: 1024px) {
    .application-info {
        font-size: 0.9rem;
    }
}

@media (max-width: 850px) {
    .home-title-container {
        font-size: 0.8rem;
    }
}

@media (min-width: 451px) and (max-width: 720px)  {
    .home-city-cards-container {
        column-gap: 10px;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .home-title-container {
        padding: 0 10px;
        font-size: 0.6rem;
    }

    .home-city-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .application-info {
        font-size: 0.7rem;
    }
}