@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*,
*:before,
*:before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.header-container {
    background: #FAEBD7;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-container {
    margin: 0 3vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #398809;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.header-title {
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
    font-weight: 600;
}

.header-link-btn-container {
    display: inline-block;
    padding: 10px;
}

.header-link-btn {
    font-family: cursive;
    font-size: 17px;
    position: relative;
    font-size: 1.2rem;
}

.header-link-btn:hover {
    cursor: pointer;
}

.header-link-btn span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #398809;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.header-link-btn span:hover:after,
.header-link-btn span:focus:after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.footer-container {
    position: relative;
    bottom: 0;
    border-top: 1px solid #919191;
    border-left: 1px solid #919191;
    border-right: 1px solid #919191;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    margin: 0 3vw;
    padding-top: 6px;
    padding-left: 20px;
}

.footer-container span {
    font-family: 'Indie Flower', cursive;
    font-size: 1.6rem;
    font-weight: 600;
    color: #7BA339;
}

@media (max-width: 550px) {
    .header-container {
        height: 65px;
    }

    .nav-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 5vw;
    }

    .header-link-btn-container {
        padding: 0 5px 0 0;
    }

    .header-title {
        font-size: 1.4rem;
    }

    .header-link-btn {
        font-size: 1rem;
    }
}
