@{
    ViewBag.Title = "Моите поръчки -";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/orders/mine.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Views/Users/_OptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Моите поръчки</h2>

        <div class="section-container">
            <div class="orders">
                <div class="order-container">
                    <p>Дата: <span class="time">14:57</span> <span class="day">28.07.2021</span></p>

                    <p>Ресторант: <span>Pizza Place (Благоевград)</span></p>

                    <p>Адрес: <span>Алеко Константинов 9</span></p>
                    
                    <span class="border"></span>

                    <div class="order">
                        <div>
                            <span>2x</span>
                            <span>Салата Цезар</span>
                            <span>10.98 лв</span>
                        </div>
                        <div>
                            <span>2x</span>
                            <span>Салата Цезар</span>
                            <span>10.98 лв</span>
                        </div>
                    </div>

                    <div class="delivery-fee">
                        <span>Цена за доставка:</span>
                        <span>10.98 лв</span>
                    </div>

                    <div class="total-price">
                        <span>Общо:</span>
                        <span>10.98 лв</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>