@{
    ViewBag.Title = "Моите поръчки -";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/orders/mine.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Views/Users/_OptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Моите поръчки</h2>

        <div class="section-container">
            <div class="orders">
                <div class="order-container">
                    <p>Дата: <span class="time">14:57</span> <span class="day">28.07.2021</span></p>

                    <p>Ресторант: <span>Pizza Place (Благоевград)</span></p>

                    <p>Адрес: <span>Алеко Константинов 9</span></p>

                    <span class="border"></span>

                    <div class="meals">
                        <p>Поръчки:</p>

                        <ul>
                            <li><span>2x</span> Салата Цезар <span>10.98 лв</span></li>
                            <li><span>2x</span> Салата Цезар <span>10.98 лв</span></li>
                            <li><span>2x</span> Салата Цезар <span>10.98 лв</span></li>
                            <li><span>2x</span> Салата Цезар <span>10.98 лв</span></li>
                        </ul>
                    </div>

                    <span class="border"></span>

                    <p>Цена за доставка: <span>10.98 лв</span></p>

                    <span class="border"></span>

                    <p>Обща сума: <span class="total-price">10.98 лв</span></p>
                </div>
            </div>
        </div>
    </div>
</div>