.cart-page-container {
    width: 100%;
    padding: 15vh 10vw 5vh 10vw;
    font-family: 'Open Sans', sans-serif;
}

.cart-page-container .cart-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #C3C3C3;
    border-radius: 12px;
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}

.cart-page-container .cart-container .meals {
    width: 65%;
    padding: 3vh 5vw;
}

.cart-page-container .cart-container .meals .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #AAAAAA;
}

.cart-page-container .cart-container .meals .header h2 {
    margin-top: 20px;
}

.cart-page-container .cart-container .meals .header p {
    margin-top: 24px;
    font-size: 1.4rem;
}

.cart-page-container .cart-container .meals .cards {
    width: 100%;
    margin: 20px 0;
}

.cart-page-container .cart-container .meals .cards table {
    border-spacing: 1.2rem;
}

.cart-page-container .cart-container .meals .cards thead tr th {
    text-align: start;
    font-weight: 500;
    color: #646464;
}

.cart-page-container .cart-container .meals .cards .meal {
    width: 35%;
}

.cart-page-container .cart-container .meals .cards .meal h4 {
    margin: 0 0 10px 0;
}

.cart-page-container .cart-container .meals .cards .meal .image-container {
    width: 60%;
}

.cart-page-container .cart-container .meals .cards .meal .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.cart-page-container .cart-container .meals .cards .quantity {
    padding-left: 4px;
}

.cart-page-container .cart-container .meals .cards .quantity .out {
    font-size: 2.5rem;
    cursor: pointer;
}

.cart-page-container .cart-container .meals .cards .quantity .add {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart-page-container .cart-container .meals .cards .quantity .number {
    border: 1px solid #000;
    padding: 4px 8px;
    margin: 0 5px;
    position: relative;
    bottom: 6px;
}

.cart-page-container .cart-container .meals .cards .price {
    position: relative;
    top: 6px;
}

.cart-page-container .cart-container .meals .cards .remove-btn {
    position: relative;
    bottom: 30px;
    font-size: 1.5rem;
}

.cart-page-container .cart-container .meals .cards .remove-btn a:hover {
    cursor: pointer;
    color: #C31E1E;
    transition: 0.3s ease;
}

.cart-page-container .cart-container .order {
    width: 35%;
    padding: 3vh;
}

.cart-page-container .cart-container .order h2  {
    display: block;
    text-align: center;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 25px;
}

.cart-page-container .cart-container .order .order-info {
    margin: 40px 10px;
}

.cart-page-container .cart-container .order .order-info .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cart-page-container .cart-container .order .order-info .info label {
    margin-bottom: 7px;
}

.cart-page-container .cart-container .order .order-info .info input {
    outline: none;
    border-radius: 12px;
    padding: 5px 10px;
    border: 1px solid #7B7B7B;
}

.cart-page-container .cart-container .order .order-info .total-price {
    margin-top: 3vh;
    font-size: 1.07rem;
    letter-spacing: 0.8px;
}

.cart-page-container .cart-container .order .order-info .total-price span {
    margin-left: 10px;
    font-weight: 600;
}

.cart-page-container .cart-container .order .order-info .btn {
    margin-top: 2vh;
    border-radius: 12px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    background: #A9EE67;
    color: #FFF;
}

.cart-page-container .cart-container .order .order-info .btn:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.8s ease;
}

@media (max-width: 1124px) {
    .cart-page-container .cart-container {
        flex-direction: column;
    }

    .cart-page-container .cart-container .meals,
    .cart-page-container .cart-container .order{
        width: 100%;
    }
}

@media (max-width: 680px) {
    .cart-page-container .cart-container .meals .cards {
        font-size: 0.9rem;
    }

    .cart-page-container .cart-container .meals .cards .meal h4 {
        position: relative;
        top: 7px;
    }

    .cart-page-container .cart-container .meals .cards .meal .image-container {
        display: none;
    }

    .cart-page-container .cart-container .meals .cards .remove-btn {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .cart-page-container .cart-container .meals .cards {
        font-size: 0.8rem;
    }

    .cart-page-container .cart-container .meals .cards .quantity .out {
        font-size: 2rem;
    }

    .cart-page-container .cart-container .meals .cards .quantity .add {
        font-size: 1.3rem;
    }

    .cart-page-container {
        padding-left: 0;
        padding-right: 0;
    }
}