<div class="user-profile-options-container">
    <a asp-area="Manager" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@ViewBag.RestaurantId" class="option">
        <i class="fas fa-edit"></i>
        <h4>Промени</h4>
    </a>
    <a asp-area="Manager" asp-controller="Menus" asp-action="Meals" asp-route-id="@ViewBag.RestaurantId" class="option">
        <i class="fas fa-utensils"></i>
        <h4>Меню</h4>
    </a>
    <a asp-area="Manager" asp-controller="Orders" asp-action="All" asp-route-id="@ViewBag.RestaurantId" class="option">
        <i class="fas fa-sort-amount-up-alt"></i>
        <h4>Поръчки</h4>
    </a>
    <a asp-area="" asp-controller="" asp-action="" class="option">
        <i class="fas fa-users"></i>
        <h4>Сервитьори</h4>
    </a>
    <a asp-area="Manager" asp-controller="Restaurants" asp-action="Mine" class="option">
        <i class="fas fa-industry"></i>
        <h4>Моите ресторанти</h4>
    </a>
</div>