@{
    ViewData["Title"] = "Лични данни - ";
}

@section CartStyles {
    <link href="~/css/user/pageContainer.css" rel="stylesheet" />
    <link href="~/css/user/options.css" rel="stylesheet" />
    <link href="~/css/user/personalData.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="_OptionsPartial" />
    <div class="main-container">
        <h2>Лични данни</h2>

        <div class="section-container">
            <div class="personal-data-container">
                <div class="personal-data">
                    <div>
                        <p>Име</p>
                        <p>Фамилия</p>
                        <p>Email</p>
                        <p>Телефон</p>
                        <p>Адрес</p>
                    </div>
                    <div class="data">
                        <p>Джулио</p>
                        <p>Бегогов</p>
                        <p>dzhulio_begogov@@abv.bg</p>
                        <p>0884184241</p>
                        <p>ул. Алеко Константинов '9'</p>
                    </div>
                </div>
                
                <div class="change">
                    <a><i class="far fa-edit"></i> Промени</a>
                </div>
            </div>
        </div>
    </div>
</div>