@{
    ViewData["Title"] = "Лични данни - ";
}

@section CartStyles {
    <link href="~/css/user/pageContainer.css" rel="stylesheet" />
    <link href="~/css/user/options.css" rel="stylesheet" />
    <link href="~/css/user/personalData.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="_OptionsPartial" />
    <div class="main-container">
        <h2>Лични данни</h2>

        <div class="section-container">
            Personal Data
        </div>
    </div>
</div>