.restaurant-image-container {
    width: 100%;
    height: 50vh;
}

.restaurant-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-container {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.restaurant-container .heading h1 {
    margin: 3vh 0 0 7vw;
    color: #336409;
    font-size: 2.3rem;
    display: inline-block;
}

.restaurant-container .heading form {
    display: inline-block;
}

.restaurant-container .heading .add-to-favorite-success-message {
    display: none;
    position: relative;
    left: 4vw;
    bottom: 5px;
    border: 3px solid #52a81c;
    border-radius: 5px;
    padding: 5px 10px;
    background: #7dda2a;
    color: #FFF;
}

.restaurant-container .heading .add-to-favorite-success-message.present {
    display: inline-block;
}

.restaurant-container .heading form button {
    position: relative;
    left: 25px;
    font-size: 2rem;
    color: #7DDA2A;
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
}

.restaurant-container .heading form button:hover {
    cursor: pointer;
    color: #FC1313;
    transition: 0.2s ease-out;
}

.restaurant-container .heading form button.added {
    color: #FC1313;
    pointer-events: none;
}

.restaurant-container .opening-time {
    margin-left: 7vw;
    font-size: 1.05rem;
    display: inline-block;
}

.restaurant-container .opening-time .time {
    color: #8B8B8B;
    margin-left: 8px;
}

.restaurant-container .closing-message {
    margin-left: 7vw;
    font-size: 1.05rem;
    margin-left: 20px;
    background: #DD7B06;
    color: #FFF;
    padding: 5px 15px;
    border-radius: 15px;
}

.restaurant-container .all-restaurants-btn-container {
    margin-left: 7vw;
    margin-top: 2vh;
}

.restaurant-container .all-restaurants-btn-container a {
    background: #52a81c;
    color: #FFF;
    padding: 5px 12px;
    border-radius: 12px;
    transition: 0.3s ease-out;
}

.restaurant-container .all-restaurants-btn-container a:hover {
    cursor: pointer;
    background: #FFF;
    color: #008000;
    border: 2px solid #52a81c;
    transition: 0.3s ease-in;
}

.restaurant-container .menu {
    width: 100%;
    margin-top: 6vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.restaurant-container .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: calc(7vw - 10px);
}

.restaurant-container .menu ul li {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #525252;
}

.restaurant-container .menu ul li:hover {
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.02);
}

.restaurant-container .menu a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #52a81c;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.restaurant-container .menu a:hover:after,
.restaurant-container .menu a:focus:after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.restaurant-container .menu li a:after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.restaurant-container .menu li a:hover:after,
.restaurant-container .menu li a:focus:after {
    transform: scale(1);
}

.restaurant-container .menu-section {
    margin: 6vh 7vw 4vh 7vw;
}

.restaurant-container .menu-section h2 {
    font-size: 1.9rem;
}

.restaurant-container .menu-section .meals-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.restaurant-container .menu-section .meals-container .meal {
    box-shadow: 0px 0px 20px 0px rgba(229,229,229,1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(229,229,229,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(229,229,229,1);
    width: 35vw;
    height: 115px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-self: start;
}

.restaurant-container .menu-section .meals-container .meal.added {
    border: 3px solid #52a81c;
    border-radius: 10px;
}

.restaurant-container .menu-section .meals-container .meal:hover {
    cursor: pointer;
}

.restaurant-container .menu-section .meals-container .meal.select {
    border: 2px solid #52a81c;
    border-radius: 12px;
}

.restaurant-container .menu-section .meals-container .meal-info {
    width: 65%;
}

.restaurant-container .menu-section .meals-container .meal-info h3 {
    margin: 0;
    display: inline-block;
    font-size: 1.1rem;
}

.restaurant-container .menu-section .meals-container .meal .description {
    width: 100%;
    height: 35px;
    word-wrap: break-word;
    margin: 10px 0 0 0;
    display: inline-block;
    font-size: 0.9rem;
}

.restaurant-container .menu-section .meals-container .meal .price {
    margin: 5px 0 0 0;
    display: inline-block;
    font-size: 1.2rem;
}

.restaurant-container .menu-section .meals-container .meal .image-container {
    width: 35%;
    object-fit: cover;
    padding: 3px;
}

.restaurant-container .menu-section .meals-container .meal .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

@media (max-width: 1100px) {
    .restaurant-container .menu-section .meals-container .meal {
        height: 190px;
    }

    .restaurant-container .menu-section .meals-container .meal .description {
        height: 90px;
    }
}

@media (max-width: 900px) {
    .restaurant-container h1 {
        font-size: 1.7rem;
    }

    .restaurant-container .opening-time {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .restaurant-container .heading .add-to-favorite-success-message {
        left: 7vw;
    }

    .restaurant-container .menu-section .meals-container .meal {
        width: 100%;
    }

    .restaurant-container .opening-time {
        display: block;
    }

    .restaurant-container .closing-message {
        margin-left: 7vw;
    }

    .restaurant-container .menu-section .meals-container {
        grid-template-columns: repeat(1, 1fr);
    }
}