@model RestaurantCardServiceModel

<a class="restaurant-card-container" asp-controller="Menus" asp-action="Meals" asp-route-id="@Model.Id">
    <div class="image-container">
        <img src="@Model.ImgUrl" alt="Restaurant Image">
    </div>
    @if (!Model.IsOpen)
    {
        <p class="closing">Затворено</p>
    }
    <h3>@Model.Name</h3>
    <p>
        <span># </span>

        @for (int count = 0; count < Model.MealsCategories.Count(); count++)
        {
            <span>@Model.MealsCategories[count]</span>

            @if (count != Model.MealsCategories.Count - 1)
            {
                <span>, </span>
            }
        }
    </p>
</a>