@model RestaurantCardViewModel

<a class="restaurant-card-container" asp-controller="Restaurants" asp-action="All">
    <div class="image-container">
        <img src="@Model.ImgUrl" alt="Restaurant Image">
    </div>
    <h3>@Model.Name</h3>
    <p>#meat, salads, pizza, pancakes</p>
</a>