<a class="restaurant-card-container" asp-controller="Restaurants" asp-action="All">
    <div class="image-container">
        <img src="https://images.deliveryhero.io/image/fd-bg/LH/xzrp-hero.jpg?width=1600&height=400&quality=45" alt="Restaurant Image">
    </div>
    <h3>Pizza Gray</h3>
    <p>#pizza, pancakes</p>
</a>