@model RestaurantCardServiceModel

<a class="restaurant-card-container" asp-controller="Menu" asp-action="MenuMeals" asp-route-id="@Model.Id">
    <div class="image-container">
        <img src="@Model.ImgUrl" alt="Restaurant Image">
    </div>
    @if (!Model.IsOpen)
    {
        <p class="closing">Затворено</p>
    }
    <h3>@Model.Name</h3>
    <p>#meat, salads, pizza, pancakes</p>
</a>