@model RestaurantCardViewModel

@{
    var now = DateTime.Now.TimeOfDay;

    var isOpen = now > Model.OpeningTime && now < Model.ClosingTime;
}

<a class="restaurant-card-container" asp-controller="Restaurants" asp-action="All">
    <div class="image-container">
        <img src="@Model.ImgUrl" alt="Restaurant Image">
    </div>
    @if (!isOpen)
    {
        <p class="closing">Затворено</p>
    }
    <h3>@Model.Name</h3>
    <p>#meat, salads, pizza, pancakes</p>
</a>