@{
    ViewData["Title"] = "Всички ресторанти - ";
}

@section AllRestaurantsStyles {
    <link href="~/css/restaurants/all.css" rel="stylesheet" />
    <link href="~/css/restaurants/card.css" rel="stylesheet" />
}

<div class="restaurants-page-container">
    <h1>Доставка на храна от най-добрите ресоранти в София</h1>

    <div class="restaurants-container">
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
        <partial name="_RestaurantCardPartial" />
    </div>
</div>