@{
    ViewBag.Title = "Любими ресторанти -";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Views/Users/_OptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Любими ресторанти</h2>

        <div class="section-container"> 
        </div>
    </div>
</div>