@model IEnumerable<RestaurantCardServiceModel>

@{
    ViewBag.Title = "Любими ресторанти -";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/restaurants/card.css" rel="stylesheet" />
    <link href="~/css/restaurants/all.css" rel="stylesheet" />
    <link href="~/css/restaurants/favorite.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Views/Users/_OptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Любими ресторанти</h2>

        <div class="section-container">
            <div class="restaurants-page-container">
                @if (Model.Any())
                {
                    <div class="restaurants-container">
                        @foreach (var card in Model)
                        {
                            <partial name="_RestaurantCardPartial" model="@card" />
                        }
                    </div>
                }
                else
                {
                    <p class="no-added-restaurants-message">Все още нямате добавени ресторанти в любими.</p>
                }
            </div>
        </div>
    </div>
</div>