@{
    ViewBag.Title = "Меню -";
}

@section ManagerRestaurantsStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="~/Areas/Manager/Views/Shared/_SettingsOptionsPartial.cshtml" />
    <div class="main-container">
        <h2>Меню</h2>

        <div class="section-container">

        </div>
    </div>
</div>
