<div class="user-profile-options-container">
    <a asp-controller="Orders" asp-action="Mine">
        <i class="fas fa-utensils"></i>
        <h4>Моите поръчки</h4>
    </a>
    <a asp-controller="Users" asp-action="PersonalData">
        <i class="fas fa-user"></i>
        <h4>Лични данни</h4>
    </a>
    <a>
        <i class="fas fa-heart"></i>
        <h4>Любими ресторанти</h4>
    </a>
    <a>
        <i class="fas fa-sign-out-alt"></i>
        <h4>Изход</h4>
    </a>
</div>