@{
    ViewBag.Title = "Моите поръчки - ";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/users/orders.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="_OptionsPartial" />
    <div class="main-container">
        <h2>Моите поръчки</h2>

        <div class="section-container">
            Orders
        </div>
    </div>
</div>