@{
    ViewBag.Title = "Лични данни -";
}

@section CartStyles {
    <link href="~/css/users/pageContainer.css" rel="stylesheet" />
    <link href="~/css/users/options.css" rel="stylesheet" />
    <link href="~/css/users/personalData.css" rel="stylesheet" />
}

<div class="user-profile-page-container">
    <partial name="_OptionsPartial" />
    <div class="main-container">
        <h2>Лични данни</h2>

        <div class="section-container">
            <div class="personal-data-container">
                <div class="personal-data">
                    <div class="field">
                        <p>Име</p>
                        <p>Фамилия</p>
                        <p>Email</p>
                        <p>Телефон</p>
                        <p>Град</p>
                        <p>Адрес</p>
                    </div>
                    <div class="data">
                        <input class="disable" type="text" value="Джулио" />
                        <input class="disable" type="text" value="Бегогов" />
                        <input class="disable" type="email" value="dzhulio_begogov@@abv.bg" />
                        <input class="disable" type="text" value="0884184241" />
                        <input class="disable" type="text" value="София" />
                        <input class="disable" type="text" value="ул. Алеко Константинов '9'" />
                    </div>
                </div>

                <div class="change-container">
                    <span class="btn" id="change-btn"><i class="far fa-edit"></i> Промени</span>
                </div>
                <div class="change-container hidden">
                    <a class="btn" id="save-btn"><i class="far fa-check-square"></i> Запиши</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section PersonalDataScript {
    <script type="text/javascript" src="~/js/users/personalData.js"></script>
}