@{
    ViewData["Title"] = "Поръчка - ";
}

@section CartStyles {
    <link href="~/css/order/cart.css" rel="stylesheet" />
}

<div class="cart-page-container">
    <div class="cart-container">
        <div class="meals">
            <div class="header">
                <h2>Твоите поръчки</h2>
                <p>3 броя</p>
            </div>

            <div class="cards">
                <table>
                    <thead>
                        <tr>
                            <th>Ястие</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Общо</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="meal-container">
                                <div class="image">
                                    <img src="https://d3fch0cwivr6nf.cloudfront.net/system/uploads/medium/data/14432/salata-kapreze.jpg" alt="Meal" />
                                </div>
                                <h3>Салата Капризе</h3>
                            </td>
                            <td>
                                <span>-</span>
                                <span>1</span>
                                <span>+</span>
                            </td>
                            <td>
                                <span>13.08 лв</span>
                            </td>
                            <td>
                                <span>26.16 лв</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="order">
            Order
        </div>
    </div>
</div>