@{
    ViewData["Title"] = "Поръчка - ";
}

@section CartStyles {
    <link href="~/css/order/cart.css" rel="stylesheet" />
}

<div class="cart-page-container">
    <div class="cart-container">
        <div class="meals">
            <div class="header">
                <h2>Твоите поръчки</h2>
                <p>3 броя</p>
            </div>

            <div class="cards">
                <table>
                    <thead>
                        <tr>
                            <th>Ястие</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Общо</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="meal">
                                <h4>Салата капризе</h4>
                                <div class="image-container">
                                    <img src="https://d3fch0cwivr6nf.cloudfront.net/system/uploads/medium/data/14432/salata-kapreze.jpg" alt="Meal" />
                                </div>
                            </td>
                            <td class="quantity">
                                <span class="out">-</span>
                                <span class="number">1</span>
                                <span class="add">+</span>
                            </td>
                            <td class="price">
                                13.08 лв
                            </td>
                            <td class="price">
                                26.16 лв
                            </td>
                        </tr>
                        <tr>
                            <td class="meal">
                                <h4>Салата капризе</h4>
                                <div class="image-container">
                                    <img src="https://d3fch0cwivr6nf.cloudfront.net/system/uploads/medium/data/14432/salata-kapreze.jpg" alt="Meal" />
                                </div>
                            </td>
                            <td class="quantity">
                                <span class="out">-</span>
                                <span class="number">1</span>
                                <span class="add">+</span>
                            </td>
                            <td class="price">
                                13.08 лв
                            </td>
                            <td class="price">
                                26.16 лв
                            </td>
                        </tr>
                        <tr>
                            <td class="meal">
                                <h4>Салата капризе</h4>
                                <div class="image-container">
                                    <img src="https://d3fch0cwivr6nf.cloudfront.net/system/uploads/medium/data/14432/salata-kapreze.jpg" alt="Meal" />
                                </div>
                            </td>
                            <td class="quantity">
                                <span class="out">-</span>
                                <span class="number">1</span>
                                <span class="add">+</span>
                            </td>
                            <td class="price">
                                13.08 лв
                            </td>
                            <td class="price">
                                26.16 лв
                            </td>
                        </tr>
                        <tr>
                            <td class="meal">
                                <h4>Салата капризе</h4>
                                <div class="image-container">
                                    <img src="https://d3fch0cwivr6nf.cloudfront.net/system/uploads/medium/data/14432/salata-kapreze.jpg" alt="Meal" />
                                </div>
                            </td>
                            <td class="quantity">
                                <span class="out">-</span>
                                <span class="number">1</span>
                                <span class="add">+</span>
                            </td>
                            <td class="price">
                                13.08 лв
                            </td>
                            <td class="price">
                                26.16 лв
                            </td>
                        </tr>
                        <tr>
                            <td class="meal">
                                <h4>Салата капризе</h4>
                                <div class="image-container">
                                    <img src="https://d3fch0cwivr6nf.cloudfront.net/system/uploads/medium/data/14432/salata-kapreze.jpg" alt="Meal" />
                                </div>
                            </td>
                            <td class="quantity">
                                <span class="out">-</span>
                                <span class="number">1</span>
                                <span class="add">+</span>
                            </td>
                            <td class="price">
                                13.08 лв
                            </td>
                            <td class="price">
                                26.16 лв
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="order">
            <h2>Адрес за доставка</h2>

            <form class="order-info">
                <div class="info">
                    <label>Име</label>
                    <input type="text" />
                </div>
                <div class="info">
                    <label>Фамилия</label>
                    <input type="text" />
                </div>
                <div class="info">
                    <label>Телефон</label>
                    <input type="text" />
                </div>
                <div class="info">
                    <label>Адрес</label>
                    <input type="text" />
                </div>

                <div class="total-price">
                    <p>Цена за доставка: <span>4.99</span> лв</p>
                    <p>Обща цена: <span>32.50</span> лв</p>
                </div>

                <input class="btn" type="submit" value="Поръчай" />
            </form>
        </div>
    </div>
</div>