@page
@model LoginModel

@{
    ViewBag.Title = "Влез -";
}

@section LoginStyles {
    <link href="~/css/auth/auth-forms.css" rel="stylesheet" />
}

<div class="auth-form-container">
    <div class="form-container">
        <div>
            <div class="form">
                <h2>Влизане</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="validation-summary">
                        <ul>
                            @foreach (var error in ModelState.ModelStateErrorMessages())
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>

                    <div>
                        <i class="fas fa-user"></i>
                        <input asp-for="Input.Email" placeholder="Email" />
                    </div>
                    <span asp-validation-for="Input.Email" class="validation-message"></span>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input asp-for="Input.Password" placeholder="Password" />
                    </div>
                    <span asp-validation-for="Input.Password" class="validation-message"></span>
                    <div class="checkbox-container">
                        <div class="checkbox">
                            <input asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe"></label>
                        </div>
                    </div>
                    <button type="submit">Влез</button>
                </form>
                <div>
                    <p>Все още нямате акаунт?</p>
                    <a asp-page="./Register">Регистрирай се сега!</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="~/img/home/login/login-form-meal.jpg" alt="Login Form Meal" />
        </div>
    </div>

    <img class="login-image" src="~/img/home/login/login-form.png" alt="Login Form Image" />
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
