@page
@model RegisterModel

@{
    ViewBag.Title = " Регистрация -";
}

@section LoginStyles {
    <link href="~/css/auth/auth-forms.css" rel="stylesheet" />
}

<div class="auth-form-container">
    <div class="form-container">
        <div>
            <div class="form">
                <h2>Регистриране</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="validation-summary"></div>

                    <div>
                        <i class="fas fa-user"></i>
                        <input asp-for="Input.Email" placeholder="Email" />
                    </div>
                    <span asp-validation-for="Input.Email" class="validation-message"></span>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input asp-for="Input.Password" placeholder="Password" />
                    </div>
                    <span asp-validation-for="Input.Password" class="validation-message"></span>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="validation-message"></span>

                    <button type="submit">Влез</button>
                </form>
                <div>
                    <p>Имате ресторант?</p>
                    <a asp-page="./Login">Добавете ресторанта си сега!</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="~/img/home/register/register-form-meal.jpeg" alt="Login Form Meal" />
        </div>
    </div>

    <img class="register-image" src="~/img/home/register/register-form.png" alt="Login Form Image" />
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
