@page
@model RegisterModel

@{
    ViewBag.Title = " Регистрация - ";
}

@section LoginStyles {
    <link href="~/css/auth/auth-forms.css" rel="stylesheet" />
}

<div class="auth-form-container">
    <div class="form-container">
        <div>
            <div class="form">
                <h2>Регистриране</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div>
                        <i class="fas fa-user"></i>
                        <input asp-for="Input.Email" type="text" placeholder="Email" />
                    </div>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input asp-for="Input.Password" type="password" placeholder="Password" />
                    </div>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password" />
                    </div>
                    <button type="submit">Влез</button>
                </form>
                <div>
                    <p>Имате ресторант?</p>
                    <a asp-page="./Login">Добавете ресторанта си сега!</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="~/img/home/register/register-form-meal.jpeg" alt="Login Form Meal" />
        </div>
    </div>

    <img class="register-image" src="~/img/home/register/register-form.png" alt="Login Form Image" />
</div>
