.user-profile-page-container {
    width: 100%;
    padding: 25vh 5vw 5vh 5vw;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
}

.user-profile-page-container .main-container {
    width: 100%;
}

.user-profile-page-container .main-container h2 {
    margin: 0;
    padding: 16px 20px;
    color: #046705;
    box-shadow: 0px 0px 5px 0px rgba(186,186,186,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(186,186,186,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(186,186,186,0.75);
    text-transform: uppercase;
}

.user-profile-page-container .main-container .section-container {
    margin-top: 20px;
    box-shadow: 0px 0px 5px 0px rgba(186,186,186,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(186,186,186,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(186,186,186,0.75);
}

@media (max-width: 800px) {
    .user-profile-page-container {
        padding-top: 15vh;
        flex-direction: column;
    }

    .user-profile-page-container .main-container h2 {
        font-size: 1.1rem;
    }
}