@{
    ViewBag.Title = "Добави град -";
}

@section AddCityStyles {
    <link href="~/css/shared/addForm.css" rel="stylesheet" />
    <link href="~/css/cities/add.css" rel="stylesheet" />
}

<div class="add-form-container">
    <div class="form-container">
        <div class="form">
            <h2>Добави град</h2>

            <form method="post">
                <div>
                    <label></label>
                    <input  />
                </div>
                <div class="upload">
                    <label><i class="fas fa-upload"></i> Качи снимка</label>
                    <input type="file" />
                </div>

                <button type="submit">Добави</button>
            </form>
        </div>
    </div>
</div>