@model AddCityFormModel

@{
    ViewBag.Title = "Добави град -";
}

@section AddFormStyles {
    <link href="~/css/shared/addForm.css" rel="stylesheet" />
}

<div class="add-form-container">
    <div class="form-container">
        <div class="form">
            <h2>Добави град</h2>

            <form method="post" enctype="multipart/form-data">
                <div>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" />
                </div>
                <span asp-validation-for="Name" class="validation-message"></span>

                <div class="upload">
                    <label asp-for="Img"><i class="fas fa-upload"></i> Качи снимка</label>
                    <input asp-for="Img" />
                </div>
                <span asp-validation-for="Img" class="validation-message"></span>

                <button type="submit">Добави</button>
            </form>
        </div>
    </div>
</div>