<a asp-controller="Home" asp-action="Index" class="city-card">
    <img src="https://passionpassport-1.s3.amazonaws.com/wp-content/uploads/2020/11/05114630/sofia-bulgaria-gem-header.jpg" alt="Sofia Image" />
    <h4 class="city-card-title">Sofia</h4>
</a>
