<div class="slider-container">
    <img class="slider-image active" id="img1" src="~/img/slider-meal-1.jpg" alt="First Slider Image" />
    <img class="slider-image" id="img2" src="~/img/slider-meal-2.jpg" alt="Second Slider Image" />
    <img class="slider-image" id="img3" src="~/img/slider-meal-3.jpg" alt="Third Slider Image" />
    <img class="slider-image" id="img4" src="~/img/slider-meal-4.jpg" alt="Fourth Slider Image" />
    <img class="slider-image" id="img5" src="~/img/slider-meal-5.jpg" alt="Fifth Slider Image" />

    <div class="slider-btns-container">
        <div class="slider-btn active"></div>
        <div class="slider-btn"></div>
        <div class="slider-btn"></div>
        <div class="slider-btn"></div>
        <div class="slider-btn"></div>
    </div>
</div>