@section LoginStyles {
    <link href="~/css/home/login.css" rel="stylesheet" />
}

<div class="auth-form-container">
    <div>
        <div class="form-container">

        </div>
    </div>
    <div>
        <div class="content">

        </div>
    </div>
</div>

<img class="" src="~/img/login-form.png" alt="Login Form Image" />