@section LoginStyles {
    <link href="~/css/home/login.css" rel="stylesheet" />
}

<div class="auth-form-container">
    <div class="form-container">
        <div>
            <div class="form">
                Form
            </div>
        </div>
        <div>
            <div class="content">
                Content
            </div>
        </div>
    </div>

    <img class="login-image" src="~/img/login-form.png" alt="Login Form Image" />
</div>