<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title Поръчай храна онлайн</title>
    <link href="~/css/shared/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    @await RenderSectionAsync("CartStyles", required: false)
    @await RenderSectionAsync("MealsStyles", required: false)
    @await RenderSectionAsync("IndexStyles", required: false)
    @await RenderSectionAsync("LoginStyles", required: false)
    @await RenderSectionAsync("CitiesStyles", required: false)
    @await RenderSectionAsync("OrdersStyles", required: false)
    @await RenderSectionAsync("AllRestaurantsStyles", required: false)
</head>
<body>
    <header class="header-container">
        <nav class="nav-container">
            <a asp-controller="Home" asp-action="Index" class="header-title">We Love Food</a>
            <div class="bars-container">
                <i class="fas fa-bars"></i>
            </div>
            <div class="btns">
                <div class="header-link-btn-container">
                    <a asp-controller="Cities" asp-action="All" class="header-link-btn"><span>Всички градове</span></a>
                </div>
                
                <span class="border"></span>

                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="header-link-btn-container">
                        <a asp-controller="Auth" asp-action="Login" class="header-link-btn"><span>Вход</span></a>
                    </div>
                    <div class="header-link-btn-container">
                        <a asp-controller="Auth" asp-action="Register" class="header-link-btn"><span>Регистрация</span></a>
                    </div>
                }
                else
                {
                    <div class="header-link-btn-container">
                        <a asp-controller="Auth" asp-action="Logout" class="header-link-btn"><span>Профил</span></a>
                    </div>
                    <div class="header-link-btn-container">
                        <a asp-controller="Auth" asp-action="Logout" class="header-link-btn"><span>Излизане</span></a>
                    </div>
                }
                <div class="header-link-btn-container">
                    <a asp-controller="Orders" asp-action="Cart" class="header-link-btn"><span><i class="fas fa-shopping-bag"></i></span></a>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer-container">
        <span>We Love Food</span>
    </footer>

    <script type="text/javascript" src="~/js/shared/navMenu.js"></script>

    @await RenderSectionAsync("MealsScript", required: false)
    @await RenderSectionAsync("IndexScript", required: false)
    @await RenderSectionAsync("PersonalDataScript", required: false)
</body>
</html>
