@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.home-title-container {
    margin-top: 9vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1.3rem;
    color: #2F6F08;
}

.home-title-container h1 {
    margin-bottom: 0;
}

.home-title-container h2 {
    margin-top: 7px;
}

.home-city-cards-container {
    margin: 0 10vw;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
}

.application-info {
    margin: 8vh 6vw 5vh 6vw;
    padding: 5px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    border: 2px solid #919191;
    border-radius: 12px;
}

@media (max-width: 1024px) {
    .application-info {
        font-size: 0.9rem;
    }
}

@media (max-width: 850px) {
    .home-title-container {
        font-size: 0.8rem;
    }
}

@media (max-width: 720px) {
    .home-city-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 450px) {
    .home-title-container {
        padding: 0 10px;
        font-size: 0.6rem;
    }

    .home-city-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .application-info {
        font-size: 0.7rem;
    }
}