.restaurants-page-container {
    padding: 11vh 7vw 7vh 7vw;
}

.restaurants-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.restaurants-page-container h1 {
    font-family: 'Open Sans', sans-serif;
    color: #2F6F08;
}

.restaurants-page-container form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.restaurants-page-container .search-label {
    margin-bottom: 11px;
    font-size: 1.2rem;
    color: #2f6f08;
}

.restaurants-page-container .search-input {
    border: 1px solid #9D9D9D;
    border-radius: 15px;
    padding: 15px;
    outline: none;
    width: 90%;
    margin-bottom: 14px;
}

.restaurants-page-container .submit-btn {
    width: 50%;
    border-radius: 15px;
    border: 0.5px solid #9d9d9d;
    padding: 7px;
    background: #F2F8D6;
    color: #2f6f08;
    font-size: 0.9rem;
}

.restaurants-page-container .submit-btn:hover {
    cursor: pointer;
    background: #B9F732;
    color: #FFF;
    transition: 0.4s ease;
}

@media (max-width: 1200px) {
    .restaurants-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .restaurants-page-container h1 {
        font-size: 1.7rem; 
    }
}

@media (max-width: 860px) {
    .restaurants-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .restaurants-page-container h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .restaurants-container {
        grid-template-columns: repeat(1, 1fr);
    }
}