@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.restaurant-card-container {
    position: relative;
    flex-grow: 1;
    cursor: pointer;
    padding: 7px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.restaurant-card-container:hover {
    transform: scale(1.03);
}

.restaurant-card-container:before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: calc(2px/-1);
    left: calc(2px/-1);
    background: linear-gradient(to right, #17A418 0%, #17A418 100%), linear-gradient(to top, #17A418 50%, transparent 50%), linear-gradient(to top, #17A418 50%, transparent 50%), linear-gradient(to right, #17A418 0%, #17A418 100%), linear-gradient(to left, #17A418 0%, #17A418 100%);
    background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
    transform: scaleX(0) rotate(5deg);
    transition-delay: 0.6s, 0.3s, 0s;
}

.restaurant-card-container:hover:before {
    background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0s, 0.2s, 0.5s;
}

.restaurant-card-container .image-container {
    height: 23vh;
}

.restaurant-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-card-container h3 {
    margin: 7px 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.05rem;
}

.restaurant-card-container p {
    margin: 0;
    opacity: 0.5;
}

.hidden {
    display: none;
}

.restaurant-card-container .closing {
    position: absolute;
    color: #FFF;
    background: #DD7B06;
    top: 20px;
    opacity: 1;
    padding-right: 10px;
    padding-left: 6px;
}