.user-profile-page-container .section-container .restaurants-page-container {
    padding: 15px;
}

.user-profile-page-container .section-container .restaurants-page-container .no-added-restaurants-message {
    font-size: 1.2rem;
    color: #696969;
}
