@{
    ViewData["Title"] = "Влез - ";
}

@section LoginStyles {
    <link href="~/css/auth/auth-forms.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
}

<div class="auth-form-container">
    <div class="form-container">
        <div>
            <div class="form">
                <h2>Влизане</h2>
                <form>
                    <div>
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Email" />
                    </div>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <button type="submit">Влез</button>
                </form>
                <div>
                    <p>Все още нямате акаунт?</p>
                    <a asp-controller="Auth" asp-action="Register">Регистрирай се сега!</a>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="~/img/home/login/login-form-meal.jpg" alt="Login Form Meal" />
        </div>
    </div>

    <img class="login-image" src="~/img/home/login/login-form.png" alt="Login Form Image" />
</div>