@{
    ViewBag.Title = "Успешно одобрен ресторант -";
}

@section MadeSuccessfulOrderStyles {
    <link href="~/css/shared/successfulMessagePage.css" rel="stylesheet" />
}

<div class="successful-message-page">
    <h1>Успешно одобрихте ресторанта!</h1>
    
    <div class="btn-container">
        <a asp-area="Admin" asp-controller="Restaurants" asp-action="New">Всички нови ресторанти <i class="fas fa-chevron-right"></i> <i class="fas fa-chevron-right"></i> </a>
    </div>
</div>