@page
@model ChangePasswordModel
@{
    ViewBag.Title = "Смяна на паролата -";
}

@section ChangeDataStyles {
    <link href="~/css/identity/changeData.css" rel="stylesheet" />
}

<div class="change-data-page-container">
    <div class="form">
        <h1>Смени паролата си</h1>

        <div class="status-message-container">
            <partial name="_StatusMessage" for="StatusMessage" />
        </div>

        <form id="change-password-form" method="post">
            <div class="validation-summary">
                <ul>
                    @foreach (var error in ModelState.ModelStateErrorMessages())
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>

            <div>
                <div>
                    <i class="fas fa-key"></i>
                    <label asp-for="Input.OldPassword"></label>
                </div>
                <input asp-for="Input.OldPassword" />
            </div>
            <span asp-validation-for="Input.OldPassword" class="validation-message"></span>
            <div>
                <div>
                    <i class="fas fa-key"></i>
                    <label asp-for="Input.NewPassword"></label>
                </div>
                <input asp-for="Input.NewPassword" />
            </div>
            <span asp-validation-for="Input.NewPassword" class="validation-message"></span>
            <div>
                <div>
                    <i class="fas fa-key"></i>
                    <label asp-for="Input.ConfirmPassword"></label>
                </div>
                <input asp-for="Input.ConfirmPassword" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="validation-message"></span>

            <button type="submit">Update password</button>
        </form>
    </div>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}