@model CityCardViewModel

<a asp-controller="Restaurants" asp-action="All" asp-route-id="@Model.Id" class="city-card">
    <img src="@Model.ImgUrl" alt="City Image" />
    <h4 class="city-card-title">@Model.Name</h4>
</a>