@section IndexStyles {
    <link href="~/css/home/index.css" rel="stylesheet" />
    <link href="~/css/home/slider.css" rel="stylesheet" />
    <link href="~/css/home/cityCard.css" rel="stylesheet" />
}

<partial name="_SliderPartial.cshtml" />

<div class="home-title-container">
    <h1>We Love Food</h1>
    <h2>Избери своя град и поръчай от най-добрите ресторанти!</h2>
</div>

<div class="home-city-cards-container">
    <partial name="_CityCardPartial" />
    <partial name="_CityCardPartial" />
    <partial name="_CityCardPartial" />
    <partial name="_CityCardPartial" />
    <partial name="_CityCardPartial" />
    <partial name="_CityCardPartial" />
    <partial name="_CityCardPartial" />
</div>

<div class="application-info">
    <h3>Наслади се на любимите си ресторанти</h3>

    <p>
        От 'We Love Food' знаем, че когато някой е гладен, храната трябва да пристигне възможно най-бързо. Услугата ни позволява да поръчваш храна онлайн, която да бъде доставена до входната ти врата, предоставяйки ти огромен избор от любимите ти ресторанти в София и страната. С нашата селекция от ресторанти, 'We Love Food' лесно може да се превърне в любимата ти платформа за поръчване на храна онлайн.
    </p>
    <p>
        Няма значение дали обичаш да хапваш скара, салати, суши или пица, платформата на 'We Love Food' ти предлага най-бързия начин да поръчаш храна онлайн, да я получиш на входната си врата или в офиса си, след което можеш да се настаниш удобно и да хапваш. Разглеждай менютата на любимите си ресторанти в София, направи поръчка за хапване с няколко клика и вкусната храна ще бъде в ръцете ти, докато се обърнеш!
    </p>
</div>

@section IndexScript {
    <script type="text/javascript" src="~/js/home/index.js"></script>
}