@{
    ViewData["Title"] = " Регистрация - ";
}

@section LoginStyles {
    <link href="~/css/home/auth-forms.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
}

<div class="auth-form-container">
    <div class="form-container">
        <div>
            <div class="form">
                <h2>Регистриране</h2>
                <form>
                    <div>
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div>
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <button type="submit">Влез</button>
                </form>
                <div>
                    <p>Вече имаш акаунт?</p>
                    <a asp-controller="Home" asp-action="Login">Влез в своя акаунт</a>
                </div>
            </div>
        </div>
        <div>
            <img src="~/img/home/register/register-form-meal.jpeg" alt="Login Form Meal" />
        </div>
    </div>

    <img class="register-image" src="~/img/home/register/register-form.png" alt="Login Form Image" />
</div>
