@using WeLoveFood.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<header class="header-container">
    <nav class="nav-container">
        @if (!User.IsManager())
        {
            <a asp-area="" asp-controller="Home" asp-action="Index" class="header-title">We Love Food</a>
        }
        else
        {
            <a class="header-title">We Love Food</a>
        }

        <div class="bars-container">
            <i class="fas fa-bars"></i>
        </div>

        <div class="btns">
            @if (!User.IsManager())
            {
                <div class="header-link-btn-container">
                    <a asp-area="" asp-controller="Cities" asp-action="All" class="header-link-btn"><span>Всички градове</span></a>
                </div>

                <span class="border"></span>
            }

            @if (!SignInManager.IsSignedIn(User))
            {
                <div class="header-link-btn-container">
                    <a asp-area="Identity" asp-page="/Account/Login" class="header-link-btn"><span>Вход</span></a>
                </div>
                <div class="header-link-btn-container">
                    <a asp-area="Identity" asp-page="/Account/Register" class="header-link-btn"><span>Регистрация</span></a>
                </div>
            }
            else
            {
                @if (User.IsAdmin())
                {
                    <div class="header-link-btn-container">
                        <a asp-area="Admin" asp-controller="Restaurants" asp-action="New" class="header-link-btn"><span>Нови ресторанти</span></a>
                    </div>
                    <div class="header-link-btn-container">
                        <a asp-area="Admin" asp-controller="Cities" asp-action="Add" class="header-link-btn"><span>Добави град</span></a>
                    </div>

                }
                else if (!User.IsManager())
                {
                    <div class="header-link-btn-container">
                        <a asp-area="" asp-controller="Orders" asp-action="Mine" class="header-link-btn"><span>Профил</span></a>
                    </div>
                }

                <div class="header-link-btn-container">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })">
                        <button type="submit" class="header-link-btn"><span>Излизане</span></button>
                    </form>
                </div>
            }

            @if (!SignInManager.IsSignedIn(User) || User.IsClient())
            {
                <div class="header-link-btn-container">
                    <a asp-area="" asp-controller="Orders" asp-action="Cart" class="header-link-btn"><span><i class="fas fa-shopping-bag"></i></span></a>
                </div>
            }
        </div>
    </nav>
</header>
