<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title Поръчай храна онлайн</title>
    <link href="~/css/shared/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    @await RenderSectionAsync("CartStyles", required: false)
    @await RenderSectionAsync("MealsStyles", required: false)
    @await RenderSectionAsync("IndexStyles", required: false)
    @await RenderSectionAsync("LoginStyles", required: false)
    @await RenderSectionAsync("CitiesStyles", required: false)
    @await RenderSectionAsync("OrdersStyles", required: false)
    @await RenderSectionAsync("LogoutStyles", required: false)
    @await RenderSectionAsync("AddFormStyles", required: false)
    @await RenderSectionAsync("ChangeDataStyles", required: false)
    @await RenderSectionAsync("ManagerMenuStyles", required: false)
    @await RenderSectionAsync("AccessDeniedStyles", required: false)
    @await RenderSectionAsync("AllRestaurantsStyles", required: false)
    @await RenderSectionAsync("ManagerAllWaitersStyles", required: false)
    @await RenderSectionAsync("ManagerRestaurantsStyles", required: false)
    @await RenderSectionAsync("ManagerEditRestaurantStyles", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />

    <div>
        @if (TempData.ContainsKey(TempDataConstants.SuccessMessageKey))
        {
            <div class="success-message">
                <p>@TempData[TempDataConstants.SuccessMessageKey]</p>
            </div>
        }
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer-container">
        <span>We Love Food</span>
    </footer>

    <script type="text/javascript" src="~/js/shared/navMenu.js"></script>
    <script type="text/javascript" src="~/js/shared/successMessage.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await RenderSectionAsync("CartScript", required: false)
    @await RenderSectionAsync("MealsScript", required: false)
    @await RenderSectionAsync("IndexScript", required: false)
    @await RenderSectionAsync("ValidationScripts", required: false)
    @await RenderSectionAsync("PersonalDataScript", required: false)
    @await RenderSectionAsync("MadeSuccessfulOrderStyles", required: false)
</body>
</html>
